/* style */

:root{
  --green-main:#E8F6EF;
  --purple-main:#6A097D;
  --pink-main:#FDE8E9;
  --grey-main:#CCCCCC;
  --mian-font:'Prompt', sans-serif;
  --font-18:18px;
  --font-24:24px;
  --font-32:32px;
}

body{
  padding: 0;
  margin: 0;
}
/* text style */
.font-18 {
  
  font-family: var(--mian-font);
  font-size: var(--font-18);
}
.font-24 {
  font-family: var(--mian-font);
  font-size: var(--font-24);
}
.font-32{
  font-family: var(--mian-font);
  font-size: var(--font-32);
}
.bg-green-80{
  background-color: var(--green-main);
}
.bg-grey-10{
  background-color: #CCCCCC;
}
.bg-pink-20{
  background-color: var(--pink-main);
}
.bg-purple-10{
  background-color: var(--purple-main);
}
.color-font-purple{
  color: #6A097D !important;
}
a.underline{
  text-decoration: none;
  color: black;
}
.underline{
  text-decoration: none;
  color: black;
}
.w-15{
  width: 15%;
}
.bg-pink-20{
  background-color: #FDE8E9;

/* งานติดตาม */

.pink{
  background-color: pink;
}
.list-type-none{
  list-style-type: none;
}
/* Set the size of the div element that contains the map */
#map {
  height: 500px;
  /* The height is 400 pixels */
  width: 250px;
  /* The width is the width of the web page */
}